#tv{
    text-align: right;
}

#kids{
    color: palevioletred;
}
.news{
    text-align: center;
    background-color: red;
    color: bisque;
}

.cinayet{
    background-color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

